#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap:20px;
} 

.buttons {
  display: flex;             /* Make the container a flex container */
  flex-direction: column;    /* Align the buttons vertically */
  align-items: center;       /* Center the buttons horizontally */
  gap: 20px;      
}

.total-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 200px;
  height: 120px;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 50px 0 0 20px;
}

.bill {
  margin-bottom: 5px;
  text-align: left;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 2px solid #ccc;
}

.total {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.price {
  text-align: left;
  display: block;
}